.blade {
  width: 400px; }

.header {
  height: auto;
  background: #00C6D6;
  color: white; }

.header:hover {
  background: #00D9EB; }

.content {
  border: 2px solid green;
  max-height: 0px;
  overflow: hidden;
  vertical-align: bottom;
  transition: max-height 1s ease-out; }

.open {
  max-height: 100px; }
