* {
  box-sizing: border-box; }

.blade {
  width: 500px; }

.header {
  margin: -1px 0px;
  border: 1px solid #00B2C1;
  height: 50px;
  background: #00C6D6;
  color: white;
  font-weight: 300;
  font-size: 15pt;
  padding: 15px; }

.header:hover {
  background: #00D9EB; }

.content {
  border: thin solid #00B2C1;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s linear; }
  .content p {
    padding: 20px;
    margin: 0px; }

.open {
  max-height: 200px; }
